<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.username"> root</property>
    <property name="hibernate.connection.password"> root </property>
    <property name="hibernate.connection.url"> jdbc:mysql://localhost/agenda </property>
    <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver </property>
    <property name="show_sql"> true </property>
    <property name="format_sql"> true </property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.connection.autocommit"> false </property>
    <property name="hibernate.default_schema">agenda</property>
    <!-- mapeamento das classes -->
    <mapping class="br.com.utfpr.edu.agenda.Entidades.Item"/>
    <mapping class="br.com.utfpr.edu.agenda.Entidades.Usuario"/>
    <mapping class="br.com.utfpr.edu.agenda.Entidades.Veiculo"/>
  </session-factory>
</hibernate-configuration>

